.preloader {
  
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    top: 50%;
    width: 152px;
    height: 70px;
    align-items: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    
    
    background: #6979F8;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    animation: preloader-bounce 1.8s infinite ease-in-out;
}

.preloader__item:last-child {
  
    bottom: 0;
    animation-delay: 0s;
}

.preloader__item:nth-child(2) {
  
  bottom: 0;
  animation-delay: -0.6s;
}

  .preloader__item:first-child {
  
    bottom: 0;
    animation-delay: -1.2s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      opacity: 0.6;
      transform: scale(0.67);
    }
  
    50% {
      opacity: 1;
      transform: scale(1);
    }
  }

  
  
  