ul {
    padding-left: 0;
}

.btn:focus {
	outline: none !important;
   	box-shadow:none
}

.user__list > * {
	margin-top: 18px;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.user__item {
	
	color: #000;
	justify-content: center;
	align-items: center; 
	background: #FFFFFF;
	border-radius: 4px;
	padding: 16px 16px;
	font-size: calc(7.5px + 7.5 * (100vw / 1920));
	line-height: 133%;
	cursor: pointer;
	
}

.item__image {
	
	width: 48px;
	height: 48px;
	position: relative;
}

.item__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item__name {
}

.item__balance {
}

.item__dropdown-2 {
	
	border: none;
	color: #3F3356;
	border: none;
}

.dropdown-menu {
	background: #FFFFFF;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
}


.item__last-updated {
	
	
	color: #A8A8A8;
}